@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<div class='container'>

<p><a href='/client'>Back to Client List</a></p>
<hr/>
<h5>Edit the Client Info : @Model.GetClientName()</h5>

<form action="/client/{clientId}" method="post">
  <label for="newClient">name</label>
  <br/>
  <input class="newClient" name="clientName" type="text" value= "@Model.GetClientName()">

  <br/>
  <label for="newClient">phone number</label>
  <br/>
  <input class="newClient" name="clientPhoneNumber" type="text" value="@Model.GetClientPhone()">
  <br/>
  <label for="newClient"> Note</label>
  <br/>
  <input class="newClient" name="clientNote" type="text" style="height:80px" value="@Model.GetClientNote()">

   <br/> <br/>
  <select class="form-control" class="selectstylist" name="stylistId" style="width: 240px"type="number">
   <p>select a stylist </p>>
   @foreach(Stylist stylist in Stylist.GetAll())
    {

      <option value="@stylist.GetStylistId()">@stylist.GetStylistName()</option>
    }

  </select>
  <br/>
  <button type="submit" class='btn btn-success' >Comfirm</button>
</form>
</div>
