@{
  Layout = "_Layout";
}

  @using HairSalon.Models;
<div class='container'>

<h2>The Clients List</h2>
<h4>Number Clients : @Client.GetAllClients().Count</h4>

<br/>
<table>
  <tr>
     <th>client ID</p></th>
  <th>client name</p></th>
  <th>client phone</th>
  <th>client email</th>
  <th>client NOTE</th>
  <th>view</th>
  </tr>


  @foreach(var client in Model)
  { <tr>
    <td>
     2018 @client.GetClientId()
    </td>
    <td>
    <li>@client.GetClientName()</li>
    </td>
    <td>
        @client.GetClientPhone()
    </td>
 
      <td>
      
      </td>
      <td>
      @client.GetClientNote()
      </td>
      <td>
        <a href ="/client/@client.GetClientId()"><button class='btn btn-primary'>view</button></a>
        <form action="/client/@client.GetClientId()/delete" method="post">
    <button class='btn btn-danger' type='submit'>Delete</button>
    </form>
      </td>
    </tr>
  }
  </table>
<br/><br/>

<form action="/client/deleteAll" method="post">
       <!-- <label for="StylistName">Add a new client to this stylist</label>
      <input id="StylistName" name="clientName" type="text"> -->
    </form>
<hr>
<p><a href='/client/new'>Add a New Client</a></p>
<a href='/Stylist'><button class='btn btn-info'>Manage  Stylists</button></a>

<a href="/"><button class='btn btn-success'>HOME</button></a>
 <!-- <button type="submit">deleteAll</button> -->
</div>