@{
Layout = "_Layout"; 
}
@using HairSalon.Models;

<div class='container'>
    <h2>The info of stylist:@Model.GetStylistName()</h2>
    Name:@Model.GetStylistName();
    <br/>
    phone:@Model.GetStylistPhone();
    <br/>
    id:@Model.GetStylistId();
     <br/>
     DATE:@Model.GetStylistDate();
     <br/>
     Client NUM:<span style="color:rgb(35, 201, 201)">@Model.GetClients().Count;</span>
      <br/>



<h2>All the Clients For Stylist: @Model.GetStylistName()</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Client name</th>
    <th>Client phone</th>
     <th>specialty</th>
    <th>VIEW</th>
  </tr>

<ul>
  
@foreach (Client client in @Model.GetClients())
{
  <tr>
  <td>
    @client.GetClientId()
  </td>
<td>
<h4>@client.GetClientName()</h4>
</td>
<td>
   @client.GetClientPhone()
</td>
<td>
   specialty
</td>
<td>
  <a href="/Client/@client.GetClientId()">VIEW</a>
</td>
</tr>
}

</ul>
</table>
<form action="/stylist/@Model.GetStylistId()" method="post">
<label for="StylistName">Add a new client to @Model.GetStylistName()</label>
<br/>
<input id="client_Name" name="clientId" type="text">
<br/>
<button type="submit" class='btn btn-success'>Confirm</button>
</form>

<form action="/stylist/@Model.GetStylistId()" method="post">
<label for="specialtyName">Add a new client to @Model.GetStylistName()</label>
<br/>
<select class="form-control" class="selectstylist" name="specialtyId" style="width: 240px">
   <p>select a stylist </p>>
   @foreach(Specialty specialty in Specialty.GetAll())
    {
      <option value="@specialty.GetSpecialtyId()">@specialty.GetSpecialtyName()</option>
    }
  </select>
<button type="submit" class='btn btn-success'>Confirm</button>
</form>
<hr/>
<a href='/stylist'><button class='btn btn-warning'>Back stylist</button></a>
<a href='/'><button class='btn btn-success'>Back Home</button></a>



</div>
