@{
Layout = "_Layout"; 
}
@using HairSalon.Models;

<div class='container'>
    <h2>The info of stylist:@Model["stylist"].GetStylistName()</h2>
    Name:@Model["stylist"].GetStylistName();
    <br/>
    phone:@Model["stylist"].GetStylistPhone();
    <br/>
    id:@Model["stylist"].GetStylistId();
     <br/>
     DATE:@Model["stylist"].GetStylistDate();
     <br/>
     Client NUM:<span style="color:rgb(35, 201, 201)">@Model["client"].Count;</span>
      <br/>

<!-- phone:@Model["stylist"].GetStylistName() -->

<h2>All the Clients For Stylist: @Model["stylist"].GetStylistName()</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Client name</th>
    <th>Client phone</th>
     <th>specialty</th>
    <th>VIEW</th>
  </tr>

<ul>
  
@foreach (var client in @Model["client"])
{
  <tr>
  <td>
    @client.GetClientId()
  </td>
<td>
<h4>@client.GetClientName()</h4>
</td>
<td>
   @client.GetClientPhone()
</td>
<td>
   specialty
</td>
<td>
  <a href="/Client/@client.GetClientId()">VIEW</a>
</td>
</tr>
}

</ul>
</table>
<form action="/stylist/@Model["stylist"].GetStylistId()" method="post">
<label for="StylistName">Add a new client to @Model["stylist"].GetStylistName()</label>
<br/>
<input id="StylistName" name="clientName" type="text">
<br/>
<button type="submit" class='btn btn-success'>Confirm</button>
</form>

<form action="/stylist/@Model["stylist"].GetStylistId()" method="post">
<label for="specialtyName">Add a new client to @Model["stylist"].GetStylistName()</label>
<br/>
<select class="form-control" class="selectstylist" name="specialtyId" style="width: 240px">
   <p>select a stylist </p>>
   @foreach(Specialty specialty in Specialty.GetAll())
    {
      <option value="@specialty.GetSpecialtyId()">@specialty.GetSpecialtyName()</option>
    }
  </select>
<button type="submit" class='btn btn-success'>Confirm</button>
</form>
<hr/>
<a href='/stylist'><button class='btn btn-warning'>Back stylist</button></a>
<a href='/'><button class='btn btn-success'>Back Home</button></a>


<!-- <a href='/stylists/@Model["stylist"].GetStylistId()/client/new'><button class='btn btn-danger'>Add a client for this stylist</button></a> -->
</div>
