@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<div class='container'>
 

  <br/>


  <h2>The Stylists List</h2>
<table>
  <tr>
  <th><p class="tabletitile">stylist name</p></th>
  <th>stylist phone</th>
  <th>stylist email</th>
  <th>DATE</th>
  <th>view</th>
   <th>DELETE</th>
  </tr>
  @foreach (Stylist stylist in @Stylist.GetAll())
  {
    <tr>
    <td>
    <h6>@stylist.GetStylistName()</h6>
    </td>
       <td>
         @stylist.GetStylistPhone()
        </td>
        <td>
        @stylist.GetStylistEmail()
        </td>
      <td>
         @stylist.GetStylistDate()
       <span class="glyphicons glyphicons-user-add"></span>
      </td>
      <td>
        <a href='/stylist/@stylist.GetStylistId()'><button class='btn btn-warning'>view</button></a>
    
    </td>
    <td>
<form action="/stylist/@stylist.GetStylistId()/delete" method="post">
    <button class='btn btn-danger' type='submit'>Delete</button>
    </form>
    </td>
    </tr>
  }
</table>
<br/>
  <a href='/stylist/new'><button class='btn btn-warning'>Add Stylist</button></a>
  <hr>
 
  <a href='/Client'><button class='btn btn-info'>VIEW  Clients</button></a>
  <a href='/Specialty'><button class='btn btn-primary'>VIEW  Specialty</button></a>
  <a href='/'><button class='btn btn-success'>Home</button></a>

</br>
</br>
  <form action="/stylist/deleteAll" method="post">
       <!-- <label for="StylistName">Add a new client to this stylist</label>
      <input id="StylistName" name="clientName" type="text"> -->
      <button type="submit" class='btn btn-danger' >DeleteAll</button>
    </form>


</div>
